h1 {
    color: #F51720;
    text-align: center;
    font-size: 3rem;
    font-family: 'Permanent Marker', cursive;
}

body {
    background-color: #2FF3E0;
}

.clickable-div {
    background-color: #f8d112;
    color: #fff;
    padding: 40%;
    margin: 2px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}

.clickable-div:hover {
    background-color: #FA26A0;
    color: #fff;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 60vh; 
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 3px; 
    width: 40%;
    margin: 0 auto;
}

